html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Eveett", sans-serif;
}

.section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

:root {
  --totSlides: 8;
  --slideWidth: 200px;
  --slideHeight: 100px;
  --animationSpeed: calc(1s * var(--totSlides));
}

.slider {
  height: var(--slideHeight);
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  margin-top: 6rem;
}

.slides-track {
  display: flex;
  width: calc(var(--slideWidth) * var(--totSlides));
}

.slide {
  width: var(--slideWidth);
  height: var(--slideHeight);
  overflow: hidden;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slideWidth) * -1));
  }
}

.animate-scroll {
  animation: scroll var(--animationSpeed) linear infinite;
}

:root {
  --totSlides: 8;
  --slideWidth: 200px;
  --slideHeight: 100px;
  --animationSpeed: calc(1s * var(--totSlides));
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.slides-track {
  display: flex;
  width: calc(var(--slideWidth) * var(--totSlides));
}

.slide {
  width: var(--slideWidth);
  height: var(--slideHeight);
  overflow: hidden;
  margin-left: 40px;
}

.slide img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.marquee {
  font-size: 4.5rem;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  height: 9rem;
  overflow: hidden;
  background-color: #000;
  position: relative;
  white-space: nowrap;
}

.marquee div {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  animation: marquee 12s linear infinite;
}

.marquee span {
  display: inline-block;
  padding-right: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .marquee {
    font-size: 20px;
    height: 4rem;
  }
}

.item {
  cursor: pointer;
}

.list {
  border: 1px solid #11101026;
  border-left: 0;
  border-right: 0;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.content.open {
  max-height: 100px;
  opacity: 1;
}

.openList {
  .item {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.04em;
  }
}

.itemNumber {
  color: #EF001C;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 24px;
}

.posterImage {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.image-slider-outer {
  position: relative;
  overflow: hidden;
}

.image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.image-slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: grid;
}

@media (min-width: 768px) {
  .image-slide {
    grid-template-columns: 40% auto;
  }
}

.image-slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  height: 50px;
  width: 66px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 80px;

  svg {
    font-weight: 800;
    color: rgb(0, 0, 0);
  }
}

.prev:hover,
.next:hover {
  border: 0px solid black;

  svg {
    color: white;
  }
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ee011c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #ee011c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
